*{
  font-family: sans-serif;
}

body{
  background-color: rgb(220, 231, 241);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
}

section{
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  padding: 12px;
  width: 220px;
}

img{
  border-radius: 10px;
}

p{
  font-size: small;
  font-weight: 50;
}